@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Jost:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@font-face{
font-family:'Farmhouse';
src:url('/fonts/Farmhouse.otf') format('opentype');
font-weight:400;
font-style:normal;
font-display:swap;
}
